.dropdown {
  --main-width: 56vw; /* saves the width of the whole container to be used in the dropdown */
    position: absolute;
    display: block;
    height: 10%;
    width: 28%;
    z-index: 10;
  }
  
.dropdown:hover {
    cursor: pointer;
}

.dropdown-invis-btn{
  position: relative;
  height: 100%;
  width: 100%;
  color: transparent;
  margin-bottom: 5%;
}

.dropdown-row{
  height: 724%;   /* there will be 6 rows so 600% + margin at the top of bottom is another row basically, so 700%, + each of 6 containers has 4% padding, so 724 in total */
  width: 315%; /* there will be 3 colums, padding right is 15%  */
  position: relative;
  display:none;
  padding-bottom: 2%;
  padding-top: 2%;
  padding-right: 15%;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,0) 3%, rgba(2,0,36,0.31976540616246496) 3%);
  margin: auto;
}

.dropdown-col{
  overflow: visible;
  margin-left: 0;
  padding:0;
}

.dropdown-content-container {
  position: relative;
  height: 13.5%;
  margin-bottom: 2%;
}

/* before block is created to make an illusion of a shadow  */
.dropdown-content-bg {
  position:absolute;
  top:0%;
  right:0;
  z-index: 15;
  width:87%;
  height:110%;
  background-color: black;
  clip-path: polygon(2% 0%, 100% 0%, 98% 100%, 0% 100%);
}

.dropdown-content {
  top:3%;
  right:1%;
  background-color: rgba(139,160,223,255);
  z-index: 120;
  width:85%; /* same as selected-map */
  height:100%;
  clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%);
  position: absolute;
}

.dropdown-content-display {
    display: flex !important;
}

#dropdown-search{
  display: none;
  outline: 0;
  border-width: 2%;
  border-color: black;
  position: absolute;
  height: 8%;
  left:27.5%;
  width:20%;
  z-index: 10;
  background-color: black;
  clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%);
  color: white;
  font-family: 'LilitaOne';
}