.portrait-messsage{
    display: none;
    font-size: 2rem;
    font-family: 'LilitaOne';
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

@media only screen and (orientation: portrait) {
    .portrait-messsage{
        display:flex
    }
    .no-portrait-mode{
        display: none;
    }
    .footer{
        height: 5vh;
    }
}



@media only screen and (max-width: 1200px){
    .mode-name{
        font-size: 1.8vw;
    }
    .map-name{
        font-size: 1.4vw !important;
    }
    .player-name{
        font-size: 1.3vw;
    }
}


@media only screen and (max-width: 992px){
    .col-3{
        padding:7px;
    }
    .mode-name{
        font-size: 1.6vw;
        padding-top: 1%;
    }
    .map-name{
        font-size: 1.3vw !important; 
        /* needs to have important otherwise the js overrides it back to default and i dont wanna implement screensize code there */
    }
    .rainbow-border{
        border-width: 2px;
    }
    .player-name{
        font-size:1.1vw;
    }
    #dropdown-search{
        font-size: 0.7em;
    }
}


@media only screen and (max-width: 768px){
    .col-3{
        padding:7px;
    }
    .mode-name{
        font-size: 1.5vw;
        padding-top: 1%;
    }
    .map-name{
        font-size: 1.2vw !important;
        /* needs to have important otherwise the js overrides it back to default and i dont wanna implement screensize code there */
    }

}
