.dropdown {
  --main-width: 75vw; /* saves the width of the whole container to be used in the dropdown */
    position: absolute;
    display: block;
    height: 10%;
    width: 28%;
    z-index: 10;
  }
.dropdown:hover {
    cursor: pointer;
}
.dropdown-invis-btn{
  position: relative;
  height: 100%;
  width: 100%;
  color: transparent;
  margin-bottom: 5%;
}
.dropdown>.row{
  height: 18vh;   /* 3*10% of draft-container vh */
  width: var(--main-width);
  position: relative;
  display:none;
}

.dropdown-content-container {
  position: relative;
  height: 21%;
  margin-bottom: 2%;
}

/* before block is created to make an illusion of a shadow  */
.dropdown-content-bg {
  position:absolute;
  top:-3%;
  right:-0.5%;
  z-index: 15;
  width:87%;
  height:106%;
  background-color: black;
  clip-path: polygon(2% 0%, 100% 0%, 98% 100%, 0% 100%);
}
.dropdown-content {
  top:0;
  position: absolute;
  right:0;
  background-color: rgba(139,160,223,255);
  z-index: 120;
  width:86%;
  height:100%;
  clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%);
}

.dropdown-content-display {
    display: flex !important;
}

#dropdown-search{
  display: none;
  outline: 0;
  border-width: 2%;
  border-color: black;
  position: absolute;
  height: 8%;
  left:27.5%;
  width:20%;
  z-index: 10;
  background-color: black;
  clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%);
  color: white;
  font-family: 'LilitaOne';
}