.dropdown {
    position: absolute;
    display: block;
    height: 10%;
    width: 25%;
    z-index: 10;
  }
.dropdown:hover {
    cursor: pointer;
}
.dropdown-invis-btn{
  position: relative;
  height: 100%;
  width: 100%;
  color: transparent;
  margin-bottom: 5%;
}
.dropdown>.row{
  height: 35vh;
  width: 100vw;
  position: absolute;
}

.dropdown>.col{
  height: 100%;
  position: absolute;
}
.dropdown-content-container {
  position: relative;
  height: 100%;
  display: none;
  margin-bottom: 2%;
}

/* before block is created to make an illusion of a shadow  */
.dropdown-content-bg {
  position:absolute;
  top:-3%;
  right:-1%;
  z-index: 15;
  width:88%;
  height:106%;
  background-color: black;
  clip-path: polygon(2% 0%, 100% 0%, 98% 100%, 0% 100%);
}
.dropdown-content {
  top:0;
  position: absolute;
  right:0;
  background-color: #f9f9f9;
  z-index: 120;
  width:86%;
  height:inherit;
  background-image: linear-gradient(95deg, rgba(139,160,223,255) 15.5%, rgba(139,160,223,255) 97.5%, black 98%);
  clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%);
}
  
.dropdown-content-display {
    display: block;
}