


<!-- This just serves for me to debug my for loop, saving just in case sth breaks 10 years from now xd  -->

0

 <div class = "row">
    <div class = "col-lg-6">
        <div class = "row">
            <div class = "col-lg-3">
                <img class = "mb-2 img-responsive img-fluid" src="{{STATIC_URL}}/images/brawlers/Squeak.png">
                <h4>1. Squeak </h4>
                <h5>Win rate: <strong>99.9%</strong></h5>
                <h5>Use rate: <strong>55.5%</strong></h5>
            </div>
1
            <div class = "col-lg-3">
                <img class = "mb-2 img-responsive img-fluid" src="{{STATIC_URL}}/images/brawlers/Squeak.png">
                <h4>1. Squeak </h4>
                <h5>Win rate: <strong>99.9%</strong></h5>
                <h5>Use rate: <strong>55.5%</strong></h5>
            </div>
2                    
            <div class = "col-lg-3">
                <img class = "mb-2 img-responsive img-fluid" src="{{STATIC_URL}}/images/brawlers/Squeak.png">
                <h4>1. Squeak </h4>
                <h5>Win rate: <strong>99.9%</strong></h5>
                <h5>Use rate: <strong>55.5%</strong></h5>
            </div>
3                    
            <div class = "col-lg-3">
                <img class = "mb-2 img-responsive img-fluid" src="{{STATIC_URL}}/images/brawlers/Squeak.png">
                <h4>1. Squeak </h4>
                <h5>Win rate: <strong>99.9%</strong></h5>
                <h5>Use rate: <strong>55.5%</strong></h5>
            </div>
4 
        </div>
    </div>
    <div class = "col-lg-6">
        <div class = "row">
            <div class = "col-lg-3">
                <img class = "mb-2 img-responsive img-fluid" src="{{STATIC_URL}}/images/brawlers/Squeak.png">
                <h4>1. Squeak </h4>
                <h5>Win rate: <strong>99.9%</strong></h5>
                <h5>Use rate: <strong>55.5%</strong></h5>
            </div>
5
            <div class = "col-lg-3">
                <img class = "mb-2 img-responsive img-fluid" src="{{STATIC_URL}}/images/brawlers/Squeak.png">
                <h4>1. Squeak </h4>
                <h5>Win rate: <strong>99.9%</strong></h5>
                <h5>Use rate: <strong>55.5%</strong></h5>
            </div>
6
            <div class = "col-lg-3">
                <img class = "mb-2 img-responsive img-fluid" src="{{STATIC_URL}}/images/brawlers/Squeak.png">
                <h4>1. Squeak </h4>
                <h5>Win rate: <strong>99.9%</strong></h5>
                <h5>Use rate: <strong>55.5%</strong></h5>
            </div>
7
            <div class = "col-lg-3">
                <img class = "mb-2 img-responsive img-fluid" src="{{STATIC_URL}}/images/brawlers/Squeak.png">
                <h4>1. Squeak </h4>
                <h5>Win rate: <strong>99.9%</strong></h5>
                <h5>Use rate: <strong>55.5%</strong></h5>
            </div>
8
        </div>
    </div>
</div>
<div class = "row">
    <div class = "col-lg-6">
        <div class = "row">
            <div class = "col-lg-3">
                <img class = "mb-2 img-responsive img-fluid" src="{{STATIC_URL}}/images/brawlers/Squeak.png">
                <h4>1. Squeak </h4>
                <h5>Win rate: <strong>99.9%</strong></h5>
                <h5>Use rate: <strong>55.5%</strong></h5>
            </div>
9
            <div class = "col-lg-3">
                <img class = "mb-2 img-responsive img-fluid" src="{{STATIC_URL}}/images/brawlers/Squeak.png">
                <h4>1. Squeak </h4>
                <h5>Win rate: <strong>99.9%</strong></h5>
                <h5>Use rate: <strong>55.5%</strong></h5>
            </div>
10                  
            <div class = "col-lg-3">
                <img class = "mb-2 img-responsive img-fluid" src="{{STATIC_URL}}/images/brawlers/Squeak.png">
                <h4>1. Squeak </h4>
                <h5>Win rate: <strong>99.9%</strong></h5>
                <h5>Use rate: <strong>55.5%</strong></h5>
            </div>
11                 
            <div class = "col-lg-3">
                <img class = "mb-2 img-responsive img-fluid" src="{{STATIC_URL}}/images/brawlers/Squeak.png">
                <h4>1. Squeak </h4>
                <h5>Win rate: <strong>99.9%</strong></h5>
                <h5>Use rate: <strong>55.5%</strong></h5>
            </div>
12
        </div>
    </div>
    <div class = "col-lg-6">
        <div class = "row">
            <div class = "col-lg-3">
                <img class = "mb-2 img-responsive img-fluid" src="{{STATIC_URL}}/images/brawlers/Squeak.png">
                <h4>1. Squeak </h4>
                <h5>Win rate: <strong>99.9%</strong></h5>
                <h5>Use rate: <strong>55.5%</strong></h5>
            </div>
13
            <div class = "col-lg-3">
                <img class = "mb-2 img-responsive img-fluid" src="{{STATIC_URL}}/images/brawlers/Squeak.png">
                <h4>1. Squeak </h4>
                <h5>Win rate: <strong>99.9%</strong></h5>
                <h5>Use rate: <strong>55.5%</strong></h5>
            </div>
14
            <div class = "col-lg-3">
                <img class = "mb-2 img-responsive img-fluid" src="{{STATIC_URL}}/images/brawlers/Squeak.png">
                <h4>1. Squeak </h4>
                <h5>Win rate: <strong>99.9%</strong></h5>
                <h5>Use rate: <strong>55.5%</strong></h5>
            </div>
15
            <div class = "col-lg-3">
                <img class = "mb-2 img-responsive img-fluid" src="{{STATIC_URL}}/images/brawlers/Squeak.png">
                <h4>1. Squeak </h4>
                <h5>Win rate: <strong>99.9%</strong></h5>
                <h5>Use rate: <strong>55.5%</strong></h5>
            </div>

after the loop ends
        </div>
    </div>
</div>